<div class="wrapper">
    <div class="section section-hero section-shaped clear-filter" filter-color="orange"]>
      <div class="shape shape-style-1 shape-primary page-header-one" data-parallax="true" style="
      background-image:url('/prin/img/pexels-karolina-grabowska-5980584.jpg')
      ;position: absolute;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      z-index: -1;">
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="/prin/img/now-logo-ext-white.png" style="width: 100%;" class="img-fluid">
                <p class="lead text-white">Inversión de criptomonedas en tiempo real.</p>
                <div class="btn-wrapper mt-5">
                  <a href="#packages" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                    <span class="btn-inner--text">Ver Planes</span>
                  </a>
                  <a href="./docs/documentacion-minnercrypto.pdf" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                    <span class="btn-inner--icon"><i class="ni ni-collection"></i></span>
                    <span class="btn-inner--text">Ver <span class="text-warning">más</span> información</span>
                  </a>
                </div>
                <div class="mt-5">
                  <small class="font-weight-bold mb-0 mr-2 text-white">Minner Crypto, Inc.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <div class="section features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <span class="badge badge-primary badge-pill mb-3">PRINCIPAL</span>
            <h3 class="display-3">Establezca sus objetivos de inversión</h3></br>
            <p>Minner Crypto lo acompañará a través de los desafíos del mercado moderno, sin esperas interminables ni cuentas complicadas. Cree su cuenta en 3 simples pasos, deposite y comience a operar de inmediato.</br></br>
            Nuestros expertos en comercio e inversiones se aseguran no solo de que sus fondos estén en funcionamiento, sino que también se colocan en carteras de comercio e inversión cuidadosamente planificadas y estratégicamente diversificadas. Garantizamos devoluciones transparentes, con una comisión de gestión favorable.</p></br></br>
          </div>
        </div>
        <div class="row">
          
        </div>
      </div>
    </div>
    <div class="section features-6">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="info info-horizontal info-hover-primary">
              <div class="description pl-4">
                <h5 class="title">Para Profesionales</h5>
                <p>Interfaz intuitiva, personalización flexible para variedad de activos, órdenes pendientes y de mercado, experiencia segura y avanzada, Usted ejecute operaciones con un solo clic o utilice “stop loss/take profit” - estas son sólo algunas características de la plataforma de comercio Minner Crypto que le permite ver la transparencia, consistencia e individualidad de su estilo de trading. Todo lo que Usted necesita es conexión a Internet y el deseo de llegar al mercado.</p>
              </div>
            </div>
            <div class="info info-horizontal info-hover-primary mt-5">
              <div class="description pl-4">
                <h5 class="title">Para Empresarios</h5>
                <p>Amplíe su conocimiento del mercado con distintas asesorías. Si Usted es un principiante en el comercio o ya tiene experiencia previa - Usted podrá acceder a recursos interesantes sobre Minner Crypto, opciones de inversión, y las mejores prácticas comerciales. Alcance nuevos niveles con Minner Crypto.</p>
              </div>
            </div>
            <div class="info info-horizontal info-hover-primary mt-5">
              <div class="description pl-4">
                <h5 class="title">Seguridad Garantizada</h5>
                <p>¡La seguridad es lo primero! Al abrir una cuenta con nosotros, usted deberá completar algunos formularios con sus datos personales. Minner Crypto es una plataforma protegida que se centra en mantener sus datos seguros y privados, para que usted se dedique a mejorar sus técnicas de trading.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-10 mx-md-auto">
            <img class="ml-lg-5" src="/prin/img/ill/ill.png" width="100%">
          </div>
        </div>
      </div>
    </div>
    <section class="section section-lg section-shaped" id="signupModal">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-6">
            <h3 class="display-3 text-white">Rellene el formulario<span class="text-white">¡Es el Primer Paso!</span></h3>
            <p class="lead text-white">Luego navegue en el Dashboard sobre las diversas herramientas que puede encontrar en el.</p>
            <div class="btn-wrapper">
              <a href="/signup" class="btn btn-success">Registrarme</a>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <div class="section features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <span class="badge badge-primary badge-pill mb-3">CONOCIMIENTO</span>
            <h3 class="display-3">Análisis social de embudo completo</h3>
            <p class="lead">Ahora es el momento de que todo esté bien para ser genial. Por ser un color brillante. Por destacar en sus inversiones.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-settings-gear-65"></i>
              </div>
              <h6 class="info-title text-uppercase text-primary">Grado de Acierto</h6>
              <p class="description opacity-8">Descubra todas nuestras opciones de inversión y actualice su cartera operando con Minner Crypto sobre más de 250 activos. Disfrute de tarifas cómodas y cero comisiones, asistencia completa 24/5, alertas de noticias y una cuenta demo a su disposición.</p>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                <i class="ni ni-atom"></i>
              </div>
              <h6 class="info-title text-uppercase text-success">Analizar el Rendimiento</h6>
              <p class="description opacity-8">No dejes que las personas que amamos te rompan el corazón, ni siquiera que les demos todo lo que tenemos. Luego perdemos familia con el tiempo. Mientras vivimos, nuestros corazones se enfrían.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                <i class="ni ni-world"></i>
              </div>
              <h6 class="info-title text-uppercase text-warning">Conversiones de Medidas</h6>
              <p class="description opacity-8">Expertos en inversiones de criptomonedas, profesionales en en busca de ayudarte a encontrar tu mayor potencial económico. Minner Crypto, Inc. - Avanzada seguridad en inversiones en criptomonedas.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row justify-content-center">
          <h3 class="display-3">Mercado de Criptomonedas</h3>
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
              {
              "width": "100%",
              "height": 490,
              "defaultColumn": "overview",
              "screener_type": "crypto_mkt",
              "displayCurrency": "USD",
              "colorTheme": "light",
              "locale": "es"
            }
              </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
    <div class="section" id="packages">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="display-3 text-center">Seleccione el Plan de su Preferencia</h3>
                  </div>
                </div>
              </div>
              <div class="cards-price row justify-content-center">
                 <div class="card-price col-sm">
                   <div class="title-price">
                    <i class="fab fa-btc fach"></i>
                    <h2>Básico</h2>
                   </div>
                   <div class="price-card">
                     <h4><sup>$</sup>80</h4>
                   </div>
                   <div class="option-price">
                    <ul>
                      <li><i class="fas fa-check fach" ></i> $10,66 Ganancias Diarias</li>
                      <li><i class="fas fa-check"></i> 15 días Duración</li>
                      <li><i class="fas fa-check"></i> Bitcoin Aceptamos</li>
                      <li><i class="fas fa-check"></i> $160,00 Total en Ganancias</li>
                      <li><i class="fas fa-check"></i> $20,00 Inscripción</li>
                    </ul>
                  </div>
                  <button type="button" data-toggle="modal" data-target="#modal-register" class="btn-card-pre" href="">Ordenar Ahora</button>
                  </div>
                  <div class="card-price col-sm">
                  <div class="title-price">
                   <i class="fab fa-btc fach"></i>
                   <h2>Estándar</h2>
                  </div>
                  <div class="price-card">
                    <h4><sup>$</sup>250</h4>
                  </div>
                  <div class="option-price">
                    <ul>
                      <li><i class="fas fa-check"></i> $33,33 Ganancias Diarias</li>
                      <li><i class="fas fa-check"></i> 15 días Duración</li>
                      <li><i class="fas fa-check"></i> + Retiro Instantaneo</li>
                      <li><i class="fas fa-check"></i> Bitcoin / Otros Aceptamos</li>
                      <li><i class="fas fa-check"></i> $500,00 Total en Ganancias</li>
                    </ul>
                  </div>
                  <button type="button" data-toggle="modal" data-target="#modal-register" class="btn-card-pre" href="">Ordenar Ahora</button>
                  </div>
                  <div class="card-price col-sm">
                    <div class="title-price">
                     <i class="fab fa-btc fach"></i>
                     <h2>Premium</h2>
                    </div>
                    <div class="price-card">
                      <h4><sup>$</sup>500</h4>
                    </div>
                    <div class="option-price">
                      <ul>
                       <li><i class="fas fa-check"></i> $66,66 Ganancias Diarias</li>
                       <li><i class="fas fa-check"></i> 15 días Duración</li>
                       <li><i class="fas fa-check"></i> + Retiro Instantaneo</li>
                      <li><i class="fas fa-check"></i> Bitcoin / Otros Aceptamos</li>
                      <li><i class="fas fa-check"></i> $1.000,00 Total en Ganancias</li>
                      </ul>
                    </div>
                    <button type="button" data-toggle="modal" data-target="#modal-register" class="btn-card-pre" href="">Ordenar Ahora</button>
                  </div>
              </div>
              <div class="cards-price row justify-content-center">
                <div class="card-price-duo col-sm">
                  <div class="title-price">
                   <i class="fab fa-btc fach"></i>
                   <h2>Pro</h2>
                  </div>
                  <div class="price-card">
                    <h4><sup>$</sup>1.000</h4>
                  </div>
                  <div class="option-price">
                   <ul>
                     <li><i class="fas fa-check fach" ></i> $166,66 Ganancias Diarias</li>
                     <li><i class="fas fa-check"></i> 15 días Duración</li>
                     <li><i class="fas fa-check"></i> + Retiro Instantaneo</li>
                     <li><i class="fas fa-check"></i> Bitcoin / Otros Aceptamos</li>
                     <li><i class="fas fa-check"></i> $2.500,00 Total en Ganancias</li>
                   </ul>
                 </div>
                 <button type="button" data-toggle="modal" data-target="#modal-register" class="btn-card-pre" href="">Ordenar Ahora</button>
                 </div>
                 <div class="card-price-duo col-sm">
                 <div class="title-price">
                  <i class="fab fa-btc fach"></i>
                  <h2>Mega</h2>
                 </div>
                 <div class="price-card">
                   <h4><sup>$</sup>5.000</h4>
                 </div>
                 <div class="option-price">
                   <ul>
                    <li><i class="fas fa-check" ></i> $833,33 Ganancias Diarias</li>
                    <li><i class="fas fa-check" ></i> 15 días Duración</li>
                    <li><i class="fas fa-check" ></i> + Retiro Instantaneo</li>
                    <li><i class="fas fa-check" ></i> Bitcoin / Otros Aceptamos</li>
                    <li><i class="fas fa-check" ></i> $12.500,00 Total en Ganancias</li>
                   </ul>
                 </div>
                 <button type="button" data-toggle="modal" data-target="#modal-register" class="btn-card-pre" href="">Ordenar Ahora</button>
                 </div>
                 <div class="card-price-duo col-sm">
                   <div class="title-price">
                    <i class="fab fa-btc fach"></i>
                    <h2>Ultra</h2>
                   </div>
                   <div class="price-card">
                     <h4><sup>$</sup>10.000</h4>
                   </div>
                   <div class="option-price">
                     <ul>
                      <li><i class="fas fa-check" ></i> $2.000,00 Ganancias Diarias</li>
                      <li><i class="fas fa-check"></i> 15 días Duración</li>
                      <li><i class="fas fa-check"></i> + Retiro Instantaneo</li>
                      <li><i class="fas fa-check"></i> Bitcoin / Otros Aceptamos</li>
                      <li><i class="fas fa-check"></i> $30.000,00 Total en Ganancias</li>
                     </ul>
                   </div>
                   <button type="button" data-toggle="modal" data-target="#modal-register" class="btn-card-pre" href="">Ordenar Ahora</button>
                 </div>
             </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-default">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Información Requerida</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <img src="/prin/img/now-logo-ext-white.png" alt="" style="width:80%">
              <h4 class="heading mt-4"></h4>
              <h6 class="tittle text-white">Para continuar con la compra del plan, regístrese antes.</h6></br>
            </div>
          </div>
          <div class="modal-footer">
            <a type="button" href="/signup" class="btn btn-white">¡Registrarme Ahora!</a>
            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" aria-label="Close">Más tarde lo haré</button>
          </div>
        </div>
      </div>
    </div>
  <footer class="footer has-cards">
    <div class="container container-lg">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <div class="card card-lift--hover shadow border-0">
            <a href="./docs/documentacion-minnercrypto.pdf" title="Landing Page">
              <img src="/prin/img/documentacion.png" class="card-img">
            </a>
          </div>
        </div>
        <div class="col-md-6 mb-5 mb-lg-0">
        </br>
        </br>
            <h3 class="text-primary font-weight-light mb-2">Navega a través de nuestra Multiplataforma</h3>
            <h4 class="mb-0 font-weight-light">Disponible para todos los países y para todos los dispositivos.</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-grid align-items-center my-md">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Soporte 24/7 vía WhatsApp</h3>
          <h2 class="display-2">+1 (914) 801-8090</h2>
          <a href="https://api.whatsapp.com/send?phone=19148018090&text=%C2%A1Hola!%20Soy%20nuevo%20y%20necesito%20ayuda." target="__blank"><button class="btn btn-icon btn-3" style="background-color: #0dc143; border-color: #0dc143; color: white;" type="button">
            <span class="btn-inner--icon"><i class="fa fa-whatsapp" style="font-size: 22.5px;"></i></span>
            <span class="btn-inner--text" style="font-size: 20px;">WhatsApp Directo</span>
          </button></a>
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
          <button target="_blank" href="https://twitter.com/theminnercrypto" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
            <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
          </button>
          <button target="_blank" href="https://www.instagram.com/theminnercrypto/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-instagram" data-toggle="tooltip" data-original-title="Like us">
            <span class="btn-inner--icon"><i class="fa fa-instagram"></i></span>
          </button>
          <button target="_blank" href="https://www.facebook.com/minnercrypto21/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip" data-original-title="Like us">
            <span class="btn-inner--icon"><i class="fa fa-facebook"></i></span>
          </button>
        </div>
      </div>
      <img src="/prin/img/partners.png" alt="" style="width: 100%;">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2022 -<a href="" target="_blank"> Minner Crypto, Inc</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="/legal" class="nav-link" target="_blank">Aviso Legal</a>
            </li>
            <li class="nav-item">
              <a href="/privacy" class="nav-link">Políticas de Privacidad</a>
            </li>
            <li class="nav-item">
              <a href="/cookies" class="nav-link" target="_blank">Cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>