<div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary" data-parallax="true" style="background-image:url('/prin/img/privacy.jpg'); background-size: 1600px;">
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="display-1 title" style="color: black; font-weight: bold;">Políticas de Privacidad</h1>
                <h2 class="display-4 font-weight-normal text-white">El tiempo es ahora!</h2>
                <div class="btn-wrapper mt-4">
                  <a href="../docs/documentacion-minnercrypto.pdf" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                    <span class="btn-inner--text">Ver Documentación</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <div class="section features-1">
      <div class="container">
          <div class="row">
            <div class="col-md-12 mx-auto">
              <p>
                Agradecemos que estés en esta página, eso significa que tus datos te importan, y quieres conocer el destino de los mismos y quién los recoge.
              </p></br>
              <h2 class="title">POLÍTICA DE PRIVACIDAD</h2></br>
              <p>
                De conformidad con lo dispuesto en La Ley Orgánica de Telecomunicaciones (Lotel) Sobre Protección de Datos, mediante la aceptación de la presente Política de Privacidad prestas tu consentimiento informado, expreso, libre e inequívoco para que los datos personales que proporciones a través de la página web https://www.minnercrypto.com (en adelante SITIO WEB) sean incluidos en un fichero de “USUARIOS WEB Y SUSCRIPTORES” así como “CLIENTES Y/O PROVEEDORES”:
              </p></br>
              <p>
                Nuestra denominación social es: Minner Crypto, Inc.</br>
                Email: info@minnercrypto.com</br>
                Nuestra actividad social es: Trading, Inversiones y Criptomonedas
              </p></br>
              <p>
                Todo ello debidamente inscrito ante Ley sobre el Derecho de Autor y respecto del que Minner Crypto, Inc. garantiza que se han aplicado las medidas de seguridad tanto organizativas como técnicas.
              </p></br>
              <p>
                La presente Política de Privacidad será válida únicamente para los datos de carácter personal obtenidos en el Sitio Web, no siendo aplicable para aquella información recabada por terceros en otras páginas web, incluso si éstas se encuentran enlazadas por el Sitio Web.
              </p></br>
              <p>
                Con ello manifiesto mi compromiso por mantener y garantizar las relaciones comerciales de forma seguridad mediante la protección de los datos personales y garantizando el derecho a la privacidad de cada uno de los usuarios de nuestro sitio web.
              </p></br>
              <h2>1. ¿QUÉ SON LOS DATOS PERSONALES?</h2>
              <p>
                Una pequeña aproximación es importante, por ello, debes saber que sería cualquier información relativa a una persona que nos facilita cuando visita nuestro sitio web, en nuestro caso nombre e email, y si compra algún producto necesitando factura, solicitaremos Domicilio completo, nombre, apellidos y CI. o RIF.
              </p></br>
              <p>
                Adicionalmente, cuando visitas nuestro sitio web, determinada información se almacena automáticamente por motivos técnicos como la dirección IP asignada por su proveedor de acceso a Internet.
              </p></br>
              <h2>2. FINALIDAD, LEGITIMACIÓN, CATEGORÍA DE LOS DATOS RECABADOS, CONSENTIMIENTO AL TRATAMIENTO, MENORES DE EDAD.</h2></br>
              <h3>2.1 FINALIDAD</h3>
              <p>
                Tal y como se recoge en la normativa, se informa al USUARIO que, a través de los formularios de contacto, o suscripciones se recaban datos, los cuales se almacenan en un fichero, con la exclusiva finalidad de envío de comunicaciones electrónicas, tales como: boletines (newsletters), nuevas entradas (posts), ofertas comerciales, webinars gratuitos, así como otras comunicaciones que Minner Crypto, Inc. entiende interesantes para sus USUARIOS. Los campos marcados como de cumplimentación obligatoria, son imprescindibles para realizar la finalidad expresada.
              </p></br>
              <p>
                Asimismo podrá dar cumplimiento mediante los datos, a los requerimientos solicitados por los USUARIOS.
              </p></br>
              <p>
                En definitiva la FINALIDAD es la siguiente:
              </p></br>
              <p>
                La venta de servicios sobre Trading, Inversiones y Criptomonedas.
                Gestionar la lista de suscriptores y usuarios adscritos.
                Suministro de contenidos en la página
                Dirigir su red de afiliados y comerciantes así como la gestión de pagos de los mismos.
              </p></br>
              <p>
                Únicamente el titular tendrá acceso a sus datos, y bajo ningún concepto, estos datos serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero.
              </p></br>
              <p>
                La aceptación de la política de privacidad, mediante el procedimiento establecido de dole opt-in, se entenderá a todos los efectos como la prestación de CONSENTIMIENTO EXPRESO E INEQUÍVOCO del USUARIO al tratamiento de los datos de carácter personal en los términos que se exponen en el presente documento, así como a la transferencia internacional de datos que se produce, exclusivamente debido a la ubicación física de las instalaciones de los proveedores de servicios y encargados del tratamiento de datos.
              </p></br>
              <p>
                En ningún caso se realizará un uso diferente que la finalidad para los que han sido recabados los datos ni muchos menos cederé a un tercero estos datos.
              </p></br>
              <h3>2.2 MENORES DE EDAD</h3>
              <p>
                En el supuesto de ser mayor de dieciocho, podrás registrarte en https://www.minnercrypto.com/register-page.html sin necesidad del consentimiento previo de tus padres o tutores.
              </p></br>
              <p>
                ¿Qué ocurre en el caso de que seas menor de 18 años?
              </p></br>
              <p>
                En este supuesto, será condición obligatoria el consentimiento de tus padres o tutores para que podamos tratar sus datos personales
              </p></br>
              <p>
                Advertencia: Si tienes menos de catorce años y no has obtenido el consentimiento de tus padres, no puedes registrarte en la web por lo que procederemos a denegar su solicitud en caso de tener constancia de ello.
              </p></br>
              <h3>2.3 LEGITIMACIÓN</h3>
              <p>
                Gracias al consentimiento, podemos tratar tus datos siendo requisito obligatorio para poder suscribirte a la página web.
              </p></br>
              <h3>2.4 CATEGORÍA DE LOS DATOS</h3>
              <p>
                Los datos recabados en ningún momento son especialmente protegidos, sino que se encuentran categorizados como datos identificativos.
              </p></br>
              <h3>2.5 TIEMPO DE CONSERVACIÓN DE LOS DATOS</h3>
              <p>
                Conservaré tus datos durante el tiempo legalmente establecido o hasta que solicites eliminarlos.
              </p></br>
              <h3>2.6 EXACTITUD Y VERACIDAD DE LOS DATOS</h3>
              <p>
                Obviamente eres el único responsable de la veracidad y exactitud de los datos que me remitas eximiéndome de cualquier tipo de responsabilidad al respecto.
              </p></br>
              <p>
                Como usuario, debes garantizar la exactitud y autenticidad de los datos personales facilitados debiendo aportar la información completa y correcta en los distintos formularios de captación de datos.
              </p></br>
              <h2>3. CUMPLIMIENTO DE LA NORMATIVA DE APLICACIÓN</h2>
              <p>
                Así mismo, Minner Crypto, Inc. informa que da cumplimiento a la Ley Orgánica de Telecomunicaciones (Lotel), de Servicios de la Sociedad de la Información y el Comercio Electrónico y le solicitará su consentimiento al USUARIO para el tratamiento de su correo electrónico con fines comerciales en cada momento.
              </p></br>
              <p>
                En cumplimiento de lo establecido en la normativa, le informamos que los datos suministrados, así como aquellos datos derivados de su navegación, podrán ser almacenados en los ficheros de Minner Crypto, Inc. y tratados para la finalidad de atender su solicitud y el mantenimiento de la relación que se establezca en los formularios que suscriba.
              </p></br>
              <p>
                Adicionalmente, el USUARIO consiente el tratamiento de sus datos con la finalidad de informarles, por cualquier medio, incluido el correo electrónico, de productos y servicios de Minner Crypto, Inc.
              </p></br>
              <p>
                En caso de no autorizar el tratamiento de sus datos con la finalidad señalada anteriormente, el USUARIO podrá ejercer su derecho de oposición al tratamiento de sus datos en los términos y condiciones previstos más adelante en el apartado “Ejercicio de Derechos”
              </p></br>
              <h2>4. MEDIDAS DE SEGURIDAD</h2>
              <p>
                Minner Crypto, Inc. le informa que tiene implantadas las medidas de seguridad de índole técnica y organizativas necesarias para garantizar la seguridad de sus datos de carácter personal y evitar su alteración, pérdida y tratamiento y/o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural.
              </p></br>
              <p>
                Asimismo, Minner Crypto, Inc. ha establecido medidas adicionales en orden a reforzar la confidencialidad e integridad de la información en su organización. Manteniendo continuamente la supervisión, control y evaluación de los procesos para asegurar el respeto a la privacidad de los datos.
              </p></br>
              <h2>5. EJERCICIO DE DERECHOS</h2>
              <p>
                Aquellas personas físicas que hayan facilitado sus datos a través de https://www.minnercrypto.com, podrán dirigirse al titular de la misma con el fin de poder ejercitar gratuitamente sus derechos de acceso a sus datos, rectificación o supresión, limitación y oposición respecto de los datos incorporados en sus ficheros.
              </p></br>
              <p>
                El método más rápido y sencillo sería accediendo en tu cuenta de usuario directamente y modificar tus datos o borrar tu cuenta de usuario. Cualquier información que necesitemos almacenar, en virtud de una obligación legal o contractual, será bloqueada y sólo utilizada para dichos fines en lugar de ser borrada.
              </p></br>
              <p>
                El interesado podrá ejercitar sus derechos mediante comunicación por escrito dirigida a Minner Crypto, Inc. con la referencia “Protección de datos”, especificando sus datos, acreditando su identidad y los motivos de su solicitud en la siguiente dirección:
              </p></br>
              <p>
                Minner Crypto, Inc.
                New York, Estados Unidos.
              </p></br>
              <p>
                También podrá ejercitar los derechos, a través del correo electrónico: info@minnercrypto.com
              </p></br>
              <p>
                Asimismo, Minner Crypto, Inc. ha establecido medidas adicionales en orden a reforzar la confidencialidad e integridad de la información en su organización. Manteniendo continuamente la supervisión, control y evaluación de los procesos para asegurar el respeto a la privacidad de los datos.
              </p></br>
              <h2>6. LINKS O ENLACES EXTERNOS</h2>
              <p>
                Como un servicio a nuestros visitantes, nuestro sitio web puede incluir hipervínculos a otros sitios que no son operados o controlados por el Sitio Web. Por ello https://www.minnercryptocom no garantiza, ni se hace responsable de la licitud, fiabilidad, utilidad, veracidad y actualidad de los contenidos de tales sitios web o de sus prácticas de privacidad. Por favor, antes de proporcionar su información personal a estos sitios web ajenos a https://www.minnercryptocom, tenga en cuenta que sus prácticas de privacidad pueden diferir de las nuestras.
              </p></br>
              <p>
                El único objeto de los enlaces es proporcionar al Usuario la posibilidad de acceder a dichos enlaces y conocer nuestro trabajo, aunque vcgs.net no ofrece ni comercializa por sí ni por medio de terceros la información, contenidos y servicios disponibles en los sitios enlazados, ni aprueba, supervisa o controla en modo alguno los contenidos y servicios y cualquier material de cualquier naturaleza existente en los mismos. https://www.minnercrypto.com no se responsabiliza en ningún caso de los resultados que puedan derivarse al Usuario por acceso a dichos enlaces.
              </p></br>
              <h2>7. MODIFICACIÓN DE LA POLÍTICA DE PRIVACIDAD</h2>
              <p>
                Minner Crypto, Inc. se reserva el derecho a modificar su Política de Privacidad, de acuerdo a su propio criterio, motivado por un cambio legislativo, jurisprudencial o doctrinal de la Constitución de los Estados Unidos de Norteamerica.
              </p></br>
              <p>
                Cualquier modificación de la Política de Privacidad será publicada al menos diez días antes de su efectiva aplicación. El uso de Minner Crypto, Inc. después de dichos cambios, implicará la aceptación de los mismos.
              </p></br>
              <h2>8. RESPONSABLE DEL FICHERO, Y ENCARGADOS DEL TRATAMIENTO</h2>
              <p>
                El responsable del fichero de datos es Minner Crypto, Inc.
              </p></br>
              <p>
                Como encargados de tratamiento ajenos al citado responsable:
              </p></br>
              <p>
                Minner Crypto, Inc. ha contratado los servicios de Hosting a SERED HOSTING, S.L (en adelante, SERED), con CIF: B32496242 e inscrita en el Registro Mercantil de Madrid, al Tomo 19514, Libro 0, Folio 77, Sección 8, Hoja M-342678. El domicilio social está C/ Rúa do Progreso 177 , 1º A Rua de Valdeorras, Ourense, Galicia., más información en https://sered.net/legal
              </p></br>
              <p>
                Los servicios de suscripción por correo electrónico y envío de newsletters a la compañía Active Campaign LLC (Identificada por la marca comercial “Active Campaign”) pudiéndose consultar su política de privacidad en http://www.activecampaign.com/privacy-policy/
              </p></br>
              <h2>9. SERVICIOS OFRECIDOS POR TERCEROS EN ESTA WEB.</h2>
              <p>
                Para prestar servicios estrictamente necesarios para el desarrollo de mi actividad, https://www.minnercrypto.com/ utiliza los siguientes prestadores bajo sus correspondientes condiciones de privacidad.
              </p></br>
              <p>
                Hosting: SERED</br>
                Plataforma web: minnercrypto.com</br>
                Tema web: Minner Crypto</br>
                Servicios de Mensajería y envío de boletines: Active Campaign</br>
                Zelle, Bitcoin, Tron, AirTM y Paypal</br>
                Privacidad de fuentes de rastreo utilizadas en este sitio: Google (Analytics)</br>
              </p></br>
              <p>
                En https://www.minnercrypto.com también se estudian las preferencias de sus usuarios, sus características demográficas, sus patrones de tráfico, y otra información en conjunto para comprender mejor quiénes constituyen nuestra audiencia y qué es lo que necesita. El rastreo de las preferencias de nuestros usuarios también nos ayuda a mostrarle los avisos publicitarios más relevantes.
              </p></br>
              <p>
                El usuario y, en general, cualquier persona física o jurídica, podrá establecer un hiperenlace o dispositivo técnico de enlace (por ejemplo, links o botones) desde su sitio web a https://www.minnercrypto.com (el “Hiperenlace“). El establecimiento del Hiperenlace no implica en ningún caso la existencia de relaciones entre https://minnercrypto.com/ y el propietario del sitio o de la página web en la que se establezca el Hiperenlace, ni la aceptación o aprobación por parte de https://minnercrypto.com/ de sus contenidos o servicios. En todo caso, https://www.minnercrypto.com/ se reserva el derecho de prohibir o inutilizar en cualquier momento cualquier Hiperenlace al Sitio Web.
              </p></br>
              <h2>10. ¿NO DESEAS RECIBIR INFORMACIÓN DE NOSOTROS O DESEAS REVOCAR TU CONSENTIMIENTO?</h2>
              <p>
                De conformidad con lo dispuesto en la Ley Orgánica de Telecomunicaciones puedes oponerte al uso de su información para fines publicitarios, investigaciones de mercado o desarrollo de encuestas de satisfacción en cualquier momento, así como revocar tu consentimiento en cualquier momento (sin efecto retroactivo).
              </p></br>
              <p>
                Para ello, deberás enviar un correo electrónico a la dirección info@minnercrypto.com. Si has recibido publicidad por correo electrónico, también podrás oponerte desde dicho correo electrónico, pinchando en el enlace incluido en el mismo siguiendo las instrucciones que te sean facilitadas. Otra forma más sencilla sería acceder a tu cuenta de usuario y seleccionar las opciones correspondientes.
              </p></br>
              <p>
                En relación con la gestión de tus datos asociados a los perfiles sociales de Minner Crypto, Inc. , el ejercicio del derecho de acceso, dependerá de la funcionalidad de la red social y las posibilidades de acceso a la información de los perfiles de los usuarios. Con relación a los derechos de acceso y rectificación, le recomendamos que solo podrá satisfacerse en relación a aquella información que se encuentre bajo el control de Minner Crypto, Inc.
              <p>
                Además podrá dejar de interactuar, seguir o recibir información de los perfiles sociales de Minner Crypto, Inc. , eliminar los contenidos que dejen de interesarte o restringir con quien comparte sus conexiones, mediante los mecanismos estipulados en las diferentes redes sociales.
              </p></br>
              <p>
                El usuario podrá acceder a las políticas de privacidad de cada Red Social, así como configurar su perfil para garantizar su privacidad. Minner Crypto, Inc. anima a los usuarios a familiarizarse con las condiciones de uso de las distintas redes sociales antes de comenzar a usarlas.
              </p></br>
              <p>
                Facebook: https://www.facebook.com/help/323540651073243/</br>
                Youtube: http://www.google.es/intl/es/policies/privacy/</br>
                Twitter: https://twitter.com/privacy</br>
              </p></br>
              <h2>11. SISTEMAS DE CAPTURA DE DATOS PERSONALES Y SU FINALIDAD</h2>
              <p>
                1) Formularios de suscripción a contenidos: dentro de la web existen varios formularios para activar la suscripción gestionada por Getresponse con la finalidad de enviar campañas de marketing por correo electrónico, gestión de suscripciones y envío de boletines o noticias.
              </p></br>
              <p>
                2) Formulario de comentarios: La web incluye un formulario cuya finalidad es comentar los artículos y dar su opinión respetando la libertad de expresión. El usuario podrá publicar comentarios en los post que se publiquen. Los datos personales introducidos en el formulario para insertar estos comentarios serán utilizados exclusivamente para moderarlos y publicarlos, recabando igualmente estos datos que se almacenarán en los servidores de Webempresa.
              </p></br>
              <p>
                3) Formulario de contacto: Existe un formulario de contacto cuya finalidad es la respuesta de consultas, sugerencias o contacto profesional. En este caso se utilizará la dirección de correo electrónico para responder a las mismas y enviar la información que el usuario requiera a través de la web, estos datos se almacenarán en los servidores de Webempresa y Getresponse.
              </p></br>
              <p>
                4) Cookies: Cuando el usuario se registra o navega en esta web, se almacenan “cookies”, El usuario puede consultar en cualquier momento la política de cookies para ampliar información sobre el uso de cookies y como desactivarlas.
              </p></br>
              <p>
                5) Venta de inforpoductos: A través de la página web, se pueden adquirir infoproductos, en este caso, se requieren datos del comprador (Nombre, apellido, dirección, e-mail, número de identificación fiscal (CI/RIF), País).
              </p></br>
              <p>
                6) Los usuarios podrán darse de baja en cualquier momento de los servicios prestados por https://www.minnercrypto.com desde la misma Newsletter a través de un formulario de cancelación.
              </p></br>
              <p>
                7) Sistemas de rastreo utilizadas en este sitio: Google (Analytics y Tag Manager), en https://minnercrypto.com/ también se estudian las preferencias de sus usuarios, sus características demográficas, sus patrones de tráfico, y otra información en conjunto para comprender mejor quiénes constituyen su audiencia y qué es lo que esta necesita. Puedes conocer la política de privacidad general de los servicios de Google <a href="https://policies.google.com/privacy?hl=es">aquí</a>. Adicionalmente, puedes conocer cómo utiliza Google la información de sitios web o aplicaciones que utilizan sus servicios <a href="https://policies.google.com/technologies/partner-sites?hl=es">aquí</a>.
              </p></br>
              <p>
                El rastreo de las preferencias de nuestros usuarios también nos ayuda a mostrarte los avisos publicitarios más relevantes, por medio del uso del producto de Google, Google Adwords. De acuerdo a la política de privacidad de Google, no recolectan datos personales. Sin embargo, si no quieres que se utilicemos la herramientas de “remarketing” de Google, puedes desactivar esta opción modificando las configuraciones adecuadas aquí: https://adssettings.google.com/
              </p></br>
              <p>
                Más información de como utiliza Google las cookies en publicidad: https://policies.google.com/technologies/ads?hl=es
              </p></br>
              <p>
                Asimismo, me gustaría informarte que para la captación de suscriptores y clientes utilizo Facebook Ads por lo que al generar un anuncio, se puede segmentar el público por el lugar, datos demográficos, intereses, etc por lo que los datos obtenidos por esta plataforma, estarían sujetos a esta política de privacidad desde el momento en que el usuario acepta la política de cookies y privacidad.
              </p></br>
              <p>
                Finalmente, me gustaría informarte que para brindar una mejor experiencia a mi lista de suscriptores y clientes utilizó sistemas de rastreo de Active Campaign (<a href="https://www.activecampaign.com/privacy-policy/">ver su política de privacidad</a>) por lo que los datos obtenidos por esta plataforma, estarían sujetos a esta política de privacidad desde el momento en que el usuario deja sus datos para unirse al boletín de mi comunidad.
              </p></br>
              <p>
                No vamos a compartir, vender, alquilar tu información personal con otras partes. Podemos compartir cierta información con los proveedores de servicios de terceros autorizados necesarios para prestar algunos servicios.
              </p></br>
              <h2>12. PLUGINS SOCIALES.</h2>
              <p>
                En nuestra página web te ofrecemos enlaces y servicios relacionados con las diferentes redes sociales ( p.ej “Me gusta” de Facebook). Si eres miembro de una red social y haces clic sobre el correspondiente enlace, el proveedor de la red social podrá enlazar tus datos de perfil con la información e tu visita a dicha página web.
              </p></br>
              <p>
                Por tanto, es conveniente informarte sobre las funciones y políticas sobre el tratamiento de datos personales de la respectiva red social, si accedes a una de nuestras páginas web con alguno de tus perfiles en redes sociales o compartes información a través de ellos.
              </p></br>
              <p>
                Puedes acceder en todo momento a las políticas de privacidad de las diferentes redes sociales, así como configurar tu perfil para garantizar su privacidad. Os animamos a familiarizarse con las condiciones de uso de dichas redes sociales antes de comenzar a usarlas:
              </p></br>
              <p>
                Facebook: https://www.facebook.com/help/323540651073243/</br>
                Youtube: http://www.google.es/intl/es/policies/privacy/</br>
                Twitter: https://twitter.com/privacy</br>
              </p></br>
              <h2>13. ACEPTACIÓN, CONSENTIMIENTO Y REVOCABILIDAD</h2>
              <p>
                El Usuario declara haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptando y consintiendo el tratamiento de los mismos por parte de Minner Crypto, Inc. en la forma y para las finalidades indicadas en el aviso legal.
              </p></br>
              <p>
                Como bien sabes y le hemos comunicado a lo largo de las presentes políticas de privacidad, en cualquier momento podrá revocar sus datos, pero siempre sin carácter retroactivo.
              </p></br>
              <h2>14. CAMBIOS EN LA PRESENTE POLÍTICA DE PRIVACIDAD</h2>
              <p>
                Minner Crypto, Inc. se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a prácticas de la industria. En dichos supuestos, el Prestador anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.
              </p></br>
            </div>
      </div>
    </div>
    </div>
    <br /><br />
    <footer class="footer">
      <div class="container">
        <div class="row row-grid align-items-center mb-5">
          <div class="col-lg-6">
            <h3 class="text-primary font-weight-light mb-2">¡Inicie sesión ahora mismo!</h3>
            <h4 class="mb-0 font-weight-light">Vuelva por más experiencia.</h4>
          </div>
          <div class="col-lg-6 text-lg-center btn-wrapper">
            <button target="_blank" href="https://twitter.com/theminnercrypto" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
              <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
            </button>
            <button target="_blank" href="https://www.facebook.com/theminnercrypto/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip" data-original-title="Like us">
              <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
            </button>
          </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between">
          <div class="col-md-6">
            <div class="copyright">
              &copy; 2020 - <a href="/" target="_blank">Minner Crypto, Inc</a>.
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav nav-footer justify-content-end">
              <li class="nav-item">
                <a href="/legal" class="nav-link">Aviso Legal</a>
              </li>
              <li class="nav-item">
                <a href="/privacy" class="nav-link">Políticas de Privacidad</a>
              </li>
              <li class="nav-item">
                <a href="/cookies" class="nav-link">Cookies</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>