<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/prin/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/prin/img/favicon.png">
  <title>
    Minner Crypto | Inversión en criptomonedas
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="/prin/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/prin/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="/prin/css/font-awesome.css" rel="stylesheet" />
  <link href="/prin/css/nucleo-svg.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/prin/css/argon-design-system.css?v=1.2.2" rel="stylesheet" />
  <link href="/prin/css/material-mc.css" rel="stylesheet" />
  <link href="./prin/css/style-pre.css" rel="stylesheet" />
  <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'd326bedaa9405c7e55fa550014a5f9cb9324668c';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
  </script>
</head>

<body class="index-page hidden">
    <!-- Preloader -->
    <div class="central-pre" id="onload">
      <div class="lds-heart">
        <img src="/prin/img/favicon.png">
        <div style="margin-top: 80px; margin-left: 14px; text-align: center;" class="ltrs">
           <h6>INICIALIZANDO</h6>
           <p style="font-size: 10px; margin-top: -1.2vh;">Espere un momento...</p>
        </div>
      </div>
    </div>
    <!-- End Preloader -->
    <!-- Alert of Cookies -->
    <div class="cookies-box" id="cookies-box">
      <div class="container-cookies">
        <div class="parrafo">
          <p style="margin-bottom: 6px;">
            Utilizamos cookies propias y de terceros para mejorar nuestros servicios. <a href="com/cookies.html">Política de Cookies</a>
          </p>
        </div>
        <div class="botones">
          <a class="btn btn-primary btn-round" id="acept">Acepto</a>
        </div>
      </div>
    </div>
    <div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>
    <!-- End Alert of Cookies -->
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-white navbar-light position-sticky top-0 shadow py-2">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/" style="color: white;">
        Minner Crypto
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Componentes</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">
                <a href="./docs/documentacion-minnercrypto.pdf" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                    <i class="ni ni-spaceship"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Observar la documentación</h6>
                    <p class="description d-none d-md-inline-block mb-0">Puede leer cada articulo relacionado con nuestro sistema innovador.</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto" id="items-nav">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.facebook.com/minnercrypto21/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.instagram.com/theminnercrypto" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://twitter.com/theminnercrypto" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
              <i class="fa fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/signup">
              <span class="nav-link-inner--text">Registrarse</span>
            </a>
          </li>
          <li class="nav-item d-lg-block">
            <a href="/login" class="btn btn-primary btn-icon">
              <span class="btn-inner--icon">
              </span>
              <span class="nav-link-inner--text">Iniciar Sesión</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container" style="position: fixed; z-index: 1;">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "Nasdaq 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "BTC/USD"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "ETH/USD"
      }
    ],
    "showSymbolLogo": false,
    "colorTheme": "dark",
    "isTransparent": true,
    "displayMode": "adaptive",
    "locale": "es"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
  <!-- End Navbar -->

  {{{ body }}}

  <!--   Core JS Files   -->
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/plugins/moment.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/plugins/datetimepicker.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/plugins/bootstrap-datepicker.min.js"></script>
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="https://demos.creative-tim.com/argon-design-system/assets/js/argon-design-system.min.js?v=1.2.2" type="text/javascript"></script>
  <script>
    function scrollToDownload() {
  
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>
  <script src="/prin/js/preloader.js"></script>
</body>

</html>